# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Media & static (если генерируются)
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDE
# =========================

# PyCharm
.idea/

# VS Code
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations (опционально)
# =========================
# Если НЕ хочешь коммитить миграции (обычно коммитят!)
# */migrations/
# !*/migrations/__init__.py

# =========================
# Test / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Node (если вдруг будет фронт)
# =========================
node_modules/

# =========================
# Misc
# =========================
*.swp
*.swo